<!DOCTYPE html>
<html lang="de">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="bauminao@bauminao.de">

    <title>NotePat</title>

    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
      <div class="container">
        <a href="#" class="navbar-brand mr-3">NotePat</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">Contact</a>
            <a href="#" class="nav-item nav-link">Help</a>
          </div>
          <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link">Register</a>
            <a href="#" class="nav-item nav-link">Login</a>
          </div>
        </div>
      </div>
    </nav>


      </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">Prio</div>
        <div class="col-sm-6">Title</div>
        <div class="col-sm-3">Start/End</div>
        <div class="col-sm-2">Options</div>
      </div>
      <div class="row">
        <div class="col-sm-1">0</div>
        <div class="col-sm-6">&#9998;_____________________________________</div>
        <div class="col-sm-3">&#9998;__________</div>
        <div class="col-sm-2">&oplus;&nbsp;&#10006;</div>
      </div>
      <div class="row">
        <div class="col-sm-1">1</div>
        <div class="col-sm-6">Add Connection to MongoDB</div>
        <div class="col-sm-3">Today - Tomorrow</div>
        <div class="col-sm-2">&uArr;&nbsp;&dArr;&nbsp;&#10004;&nbsp;&#10006;&nbsp;&#10022;</div>
      </div>
      <div class="row">
        <div class="col-sm-1">2</div>
        <div class="col-sm-6">Add empty line to add data to MongoDB</div>
        <div class="col-sm-3">-2d - +3d </div>
        <div class="col-sm-2">&uArr;&nbsp;&dArr;&nbsp;&#10004;&nbsp;&#10006;&nbsp;&#10023;</div>
      </div>
    </div>

    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>

</html>
